<div class = "title-center" >
<%= form_with url: root_path, method: :get do %>
  <div class="search-form-control form-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control string required",
      placeholder: "Find an instrument"
    %>
   <button name="button" type="submit" class="btn btn-color">
        <i class="fas fa-search"></i> Search
      </button>
  </div>
<% end %>
</div>
