.navbar-lewagon {
  justify-content: space-between;
  background: white;
  transition: 0.5s background-color ease;
}

.navbar-transparent {
  opacity: 0.8;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.btn-ghost {
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: lighter;
  margin-right: 18px;
  margin-top: 8px;
}

.btn-ghost:hover {
  background-color: #3181BD;
  color: white !important;
}


.navbar-log-out {
  margin-top: 15x;
}

.navbar {
  margin-bottom: 20px;
  position:sticky;
  top: 0;
  z-index: 20000;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
